@{
    ViewData["Title"] = "Información de Vuelos";
}
<h1 style=" font-size:30px;font-style:italic;color:rgb(255,255,255)">@ViewData["Title"]</h1>

<table>
    <tr>
        <td>
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;font-size:30px;font-style:italic; color:rgb(255,255,255)">Loja</p>
            <img src="https://www.turisec.com/wp-content/uploads/2022/08/lojaaaaaa3.jpg" width="600" height="350"> 
            
        </td>
        <td> 
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;font-size:30px;font-style:italic; color:rgb(255,255,255)">Manta</p>
            <img src="https://www.clave.com.ec/wp-content/uploads/2022/08/SkyscraperCity.jpg" width="600" height="350">
            
        </td>
    </tr>
    <tr>
        <td> 
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;font-size:30px;font-style:italic; color:rgb(255,255,255)">Galapagos</p>
            <img src="https://images.hola.com/imagenes/viajes/20200408165292/islas-galapagos-maravillas-desde-mi-pantalla/0-809-556/islas-galapagos-fauna-a.jpg" width="600" height="350">
            
        </td>
            
        <td> 
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;font-size:30px;font-style:italic; color:rgb(255,255,255)">Quito</p>
            <img src="https://blog.uber-cdn.com/cdn-cgi/image/width=2160,height=1080,quality=80,onerror=redirect,format=auto/wp-content/uploads/2018/09/EC_X-lugares-para-visitar-en-Quito-que-no-pueden-faltar-en-tu-lista.jpg" width="600" height="350"> 
        </td>
    </tr>
</table>
<p>Página para poder iniciar sesión</p>
